div {
  padding: 16px;
}

.konteineris {
  color: #ffffff;
  display: grid;
  grid-gap: 12px 12px;
  grid-template: 50px 1fr 2fr 50px / 200px repeat(3, 1fr);
  height: 100vh;
}

.header {
  background-color: cadetblue;
  grid-column: 1 / 5;
}

.sidebar {
  background-color: gray;
  grid-row: 2 / 4;
}

.footer {
  background-color: cadetblue;
  grid-row: 4;
  grid-column: 1 / 5;
}

.main-content {
  background-color: orangered;
  grid-row: 3 / 4;
  grid-column: 2 / 5;
}

.content {
  background-color: RGB(112, 209, 67);
}
